# Listas en python

### Crear una lista

In [13]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### Acceso a elementos de lista por índice

In [5]:
print(planets[0])
print("The second planet is", planets[1])
print("The third planet is", planets[2])

Mercury
The second planet is Venus
The third planet is Earth

In [7]:
planets[3] = "Red Planet"
print("Mars is also known as", planets[3])

print (planets)

Mars is also known as Red Planet
['Mercury', 'Venus', 'Earth', 'Red Planet', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### Incorporación de valores a listas
Método .append(value)

In [8]:
planets.append("Pluto")
number_of_planets = len(planets)
print("There are actually", number_of_planets, "planets in the solar system.")

print(planets)

There are actually 9 planets in the solar system.
['Mercury', 'Venus', 'Earth', 'Red Planet', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

### Eliminación de valores de listas
Método .pop()

In [12]:
planets.pop(3) 
number_of_planets = len(planets)
print("No, there are definitely", number_of_planets, "planets in the solar system.")

print(planets)

No, there are definitely 5 planets in the solar system.
['Venus', 'Earth', 'Red Planet', 'Saturn', 'Uranus']

### Uso de índices negativos
Los índices comienzan en cero y van en aumento. Los índices negativos comienzan al final de la lista y van hacia atrás.

In [15]:
print("The last planet is", planets[-1])
print("The penultimate planet is", planets[-2])

The last planet is Neptune
The penultimate planet is Uranus

### Búsqueda de un valor en una lista
Método .index()

In [19]:
jupiter_index = planets.index("Jupiter")
print (planets)
print (jupiter_index)
print("Jupiter is the", jupiter_index + 1, "planet from the sun")

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
4
Jupiter is the 5 planet from the sun

### Almacenamiento de números en listas

In [21]:
gravity_on_planets = [0.378, 0.907, 1, 0.377, 2.36, 0.916, 0.889, 1.12]

In [24]:
peso_autobus = 12650 # En kilogramos

print("En la tierra un autobús pesa", peso_autobus, "kg")
print("En jupiter un autobus pesa", peso_autobus * gravity_on_planets[4], "kg")

En la tierra un autobús pesa 12650 kg
En jupiter un autobus pesa 29854.0 kg

### Uso de min() y max() con listas

In [27]:
peso_autobus = 12650 # En kilogramos

print (max(gravity_on_planets))
print("En la tierra un autobús pesa", peso_autobus, "kg")
print("El autobus menos pesado es en el sistema solar pesa", peso_autobus * min(gravity_on_planets), "kg")
print("El autobus mas pesado es en el sistema solar pesa", peso_autobus * max(gravity_on_planets), "kg")

2.36
En la tierra un autobús pesa 12650 kg
El autobus menos pesado es en el sistema solar pesa 4769.05 kg
El autobus mas pesado es en el sistema solar pesa 29854.0 kg

## Mini reto
### Imprime el nombre del planeta con mayor gravedad en el sistema solar usando las listas y en una sola linea de código

In [28]:
print ("Planeta con mayor gravedad: ", planets[gravity_on_planets.index(max(gravity_on_planets))])

Planeta con mayor gravedad:  Jupiter

### Segmentación de listas

In [32]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

planets_before_earth = planets[0:2]
print(planets_before_earth)

planets_after_asteroid_belt = planets[4:]
print (planets_after_asteroid_belt)

['Mercury', 'Venus']
['Jupiter', 'Saturn', 'Uranus', 'Neptune']

### Combinación de listas

In [34]:
amalthea_group = ["Metis", "Adrastea", "Amalthea", "Thebe"]
galilean_moons = ["Io", "Europa", "Ganymede", "Callisto"]

jupiter_moons = galilean_moons + amalthea_group
print("The moons of Jupiter are", jupiter_moons)

The moons of Jupiter are ['Io', 'Europa', 'Ganymede', 'Callisto', 'Metis', 'Adrastea', 'Amalthea', 'Thebe']

### Ordenar listas
Método .sort()

In [35]:
jupiter_moons.sort()
print("The jupiter moons are", jupiter_moons)

The jupiter moons are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

Para ordenar una lista en orden inverso, llame a .sort(reverse=True) en la lista

In [36]:
jupiter_moons.sort(reverse=True)
print("The jupiter moons are", jupiter_moons)

The jupiter moons are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']